/build
*.iml

.gradle

/local.properties

/.idea/workspace.xml

/.idea/libraries

.DS_Store



/captures

.externalNativeBuild

/app/src/main/res/values/secrets.xml

/app/src/debug/res/values/google_maps_api.xml

/app/src/release/res/values/google_maps_api.xml

/app/google-services.json

/google-services.json

com_crashlytics_export_strings.xml

.signing/

.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml

.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

../app/src/release/res/values/google_maps_api.xml
../app/src/debug/res/values/google_maps_api.xml
../app/src/main/res/values/secrets.xml
../app/google-services.json



